# Using Financial Data in Python

Data for financial analysis come from two sources:
1. Web Server
2. Computer

To access data from a web server, we connect to an API. Yahoo provides a pretty good api for data. Other examples include Morning Star or Alpha Vantage.

When working with data stored on a computer, there are certain file formats that we must work with. A file format that every analyst should know how to work with is a `*.csv` (comma separated value).

For most of the course, we'll be working with csv's provided by the course.

## Importing and Organizing Data pt 1

In [1]:
import numpy as np
import pandas as pd

ser = pd.Series(np.random.random(5), name = "Column 1")

One of the two main data types to find in pandas is Series. These can be thought of as a single column data, a set of observations related to a single variable

In [2]:
ser

0    0.523613
1    0.704642
2    0.322144
3    0.999826
4    0.156622
Name: Column 1, dtype: float64

In [3]:
ser[2]

0.32214367806906496

The other data type is called data frame. It's like the series data type, but with several columns.

In [2]:
from pandas_datareader import data as wb

PG = wb.DataReader('PG', data_source='yahoo', start='1995-1-1')
PG

/opt/anaconda3/lib/python3.7/site-packages/pandas_datareader/compat/__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
1995-01-03,15.625000,15.437500,15.468750,15.593750,3318400.0,6.320252
1995-01-04,15.656250,15.312500,15.531250,15.468750,2218800.0,6.269589
1995-01-05,15.437500,15.218750,15.375000,15.250000,2319600.0,6.180927
1995-01-06,15.406250,15.156250,15.156250,15.281250,3438000.0,6.193593
1995-01-09,15.406250,15.187500,15.343750,15.218750,1795200.0,6.168259
...,...,...,...,...,...,...
2020-06-30,119.989998,117.800003,117.970001,119.570000,7818000.0,119.570000
2020-07-01,120.389999,118.900002,119.650002,119.980003,6501200.0,119.980003
2020-07-02,122.570000,120.529999,121.000000,120.879997,6150900.0,120.879997
2020-07-06,122.410004,120.879997,121.769997,121.629997,6022500.0,121.629997
2020-07-07,122.184998,120.889999,121.300003,121.900002,917417.0,121.900002

Here, we are extracting data from Yahoo Finance about Procter and Gamble starting from Jan 1st 1995.

`DataReader(ticker, data_source, start)`

## Importing and Organizing Data pt2

The data we've extracted is a time series. In every trading day, P&G's price has been recorded, as shown.

The adjusted closing price for the first year seems a small number compared to the closing price. In the most recent data, we can see that the adj close and close price are much closer to each other. 

The difference is due to dividends paid to stock owners and other changes to the stock price such as stock splits, increases of capital, and so on.

There are a few pandas methods we use for analysis.

In [6]:
PG.info()
# tells us about the data frame object

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6415 entries, 1995-01-03 to 2020-06-24
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   High       6415 non-null   float64
 1   Low        6415 non-null   float64
 2   Open       6415 non-null   float64
 3   Close      6415 non-null   float64
 4   Volume     6415 non-null   float64
 5   Adj Close  6415 non-null   float64
dtypes: float64(6)
memory usage: 350.8 KB

In [7]:
PG.head()
# for when we want to see the first five rows of data
# to get more than five, we can enter a number in the parenthesis

                High       Low      Open     Close     Volume  Adj Close
Date
1995-01-03  15.62500  15.43750  15.46875  15.59375  3318400.0   6.320252
1995-01-04  15.65625  15.31250  15.53125  15.46875  2218800.0   6.269589
1995-01-05  15.43750  15.21875  15.37500  15.25000  2319600.0   6.180927
1995-01-06  15.40625  15.15625  15.15625  15.28125  3438000.0   6.193593
1995-01-09  15.40625  15.18750  15.34375  15.21875  1795200.0   6.168259

In [8]:
PG.tail()
# for when we want to see the last five rows of data

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-06-18,119.959999,117.370003,117.459999,119.279999,6274400.0,119.279999
2020-06-19,121.820000,118.830002,120.489998,118.919998,17506200.0,118.919998
2020-06-22,119.080002,117.339996,118.779999,117.750000,5695600.0,117.750000
2020-06-23,119.190002,117.650002,118.669998,117.730003,5340400.0,117.730003
2020-06-24,117.959999,116.279999,117.220001,116.419998,6079123.0,116.419998

What if we want data on multiple companies?

In [3]:
tickers = ['PG', 'MSFT', 'T', 'F', 'GE']
new_data = pd.DataFrame()
for t in tickers:
    new_data[t] = wb.DataReader(t, data_source='yahoo', start='1995-1-1')['Adj Close']
    
new_data.tail()

                    PG        MSFT        T       F     GE
Date
2020-06-30  119.570000  203.509995  30.2300  6.0800  6.830
2020-07-01  119.980003  204.699997  29.9000  5.9800  6.740
2020-07-02  120.879997  206.259995  30.0800  6.0500  6.820
2020-07-06  121.629997  210.699997  30.4900  6.1900  7.000
2020-07-07  121.860001  213.100006  30.4219  6.1128  6.815

## Importing and Organizing Data p3

In [4]:
import quandl

mydata_01 = quandl.get('FRED/GDP')

In [6]:
mydata_01.tail()

                Value
Date
2019-01-01  21098.827
2019-04-01  21340.267
2019-07-01  21542.540
2019-10-01  21729.124
2020-01-01  21539.689

In [7]:
mydata_01.head()

              Value
Date
1947-01-01  243.164
1947-04-01  245.968
1947-07-01  249.585
1947-10-01  259.745
1948-01-01  265.742

In [9]:
import pandas as pd
mydata_01.to_csv('example_01.csv') # saving data to folder as csv

In [11]:
mydata_02 = pd.read_csv('example_01.csv') # open and read csv
mydata_02.tail() # should be same as mydata_01.tail()

           Date      Value
288  2019-01-01  21098.827
289  2019-04-01  21340.267
290  2019-07-01  21542.540
291  2019-10-01  21729.124
292  2020-01-01  21539.689

In [12]:
mydata_02.to_excel('example_02.xlsx')
mydata_03 = pd.read_excel('example_02.xlsx')

## Changing the Index of Your Time-Series

In finance, we constantly work with time-series data representing a series of data points, indexed chronologically. Therefore, when working with such data, you can plot the values of economic variables in time.

For instance:

In [13]:
mydata_02.head()

         Date    Value
0  1947-01-01  243.164
1  1947-04-01  245.968
2  1947-07-01  249.585
3  1947-10-01  259.745
4  1948-01-01  265.742

We can see here that python renders the index in the first column. However, when plotting this data, we want to plot the data against the values in the date column, not the index.

We can upload the data once more, but this time we will add a comma and index column.

In [14]:
mydata_02 = pd.read_csv('example_01.csv', index_col="Date")
mydata_02.head()

              Value
Date
1947-01-01  243.164
1947-04-01  245.968
1947-07-01  249.585
1947-10-01  259.745
1948-01-01  265.742

There is another way to set the index, but this only **displays** the data with the index you've indicated.

In [16]:
mydata_03.set_index('Date')

            Unnamed: 0      Value
Date
1947-01-01           0    243.164
1947-04-01           1    245.968
1947-07-01           2    249.585
1947-10-01           3    259.745
1948-01-01           4    265.742
...                ...        ...
2019-01-01         288  21098.827
2019-04-01         289  21340.267
2019-07-01         290  21542.540
2019-10-01         291  21729.124
2020-01-01         292  21539.689

[293 rows x 2 columns]